SetEnv SHORT_OPEN_TAGS 0
SetEnv REGISTER_GLOBALS 0
SetEnv MAGIC_QUOTES 0
SetEnv SESSION_AUTOSTART 0
SetEnv ZEND_OPTIMIZER 1
SetEnv PHP_VER 7_3

RewriteEngine on
RewriteBase /

RewriteEngine on
RewriteRule ^(.*)$ /public/$1 [L]

#php_value memory_limit 2048M
