{% extends 'mail/base_mail.html.twig' %}

{% block body %}
    <p>
        Bonjour,<br>
        <br>
        Nous avons bien reçu votre demande d'inscription pour la clinique &laquo; {{ clinique.nom }} &raquo;.<br>
        Elle sera traîtée dans les plus bref délais. Vous aurez un retour par email dès que votre compte sera validé.<br>
        <br>

    </p>
{% endblock %}