{% extends 'layout/base_user.html.twig' %}

{% block title %}MyPets | Modifier vétérinaire{% endblock %}

{% block body %}

    <h1 class="text-center">Modification du vétérinaire : {{ veterinaire.nomPrenom }}</h1>

    {% if 'clinique' in app.request.headers.get('referer') %}
        <a class="btn btn-secondary rounded btn-sm" href="{{ path('clinique_show', {id: veterinaire.clinique.id}) }}"><i class="fas fa-arrow-left mr-1"></i>Retour à la liste</a>
    {% else %}
        <a class="btn btn-secondary rounded btn-sm" href="{{ path('veterinaire_index') }}"><i class="fas fa-arrow-left mr-1"></i>Retour à la liste</a>
    {% endif %}



    <div class="mx-auto col-10 col-sm-8 col-md-7 col-lg-5">

        {{ include('veterinaire/_form.html.twig', {'button_label': 'Modifier'}) }}

    </div>

{% endblock %}
