{% extends 'layout/base_user.html.twig' %}

{% block title %}MyPets | Modifier vétérinaire{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier les informations du vétérinaire: {{ veterinaire.nom }} {{ veterinaire.prenom }}</h1>
    
    <a class="btn btn-secondary rounded btn-sm" href="{{ path('veterinaire_index') }}"><i class="fas fa-arrow-left mr-1"></i>Retour à la liste</a>

    {{ include('veterinaire/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
