{% extends 'layout/base_user.html.twig' %}

{% block title %}Veterinaire index{% endblock %}

{% block body %}
    <h1 class="text-center">Tous les vétérinaires</h1>

    <a class="btn btn-success rounded pull-right mb-2 btn-sm" href="{{ path('veterinaire_new') }}"><i class="fas fa-plus mr-1"></i>Ajouter un vétérinaire</a>

    <div class="clearfix mb-3"></div>
    <div class="row col-12">

        {% for veterinaire in veterinaires %}
            {# @var veterinaire \App\Entity\Veterinaire #}
            <div class="col-4">
                {% include 'veterinaire/include/_card.html.twig' with {clinique: veterinaire.clinique} %}
            </div>

        {% endfor %}
    </div>

{% endblock %}
