html {
  background-color: $primary;
}

body {
  background-color: transparent;
  //padding-bottom: 2rem;
  //color: $white;
}

.contenu {
  background-color: $white;
  border-top-left-radius: 1rem;
  padding-bottom: 2.5rem;
  min-height: 100%;
  height: min-content;
}

.container {
  //background-color: $white;
  min-height: 600px;

}

.pull-right {
  float: right;
}

.w-max-content {
  width: max-content;
}

.list-style-type-none {
  list-style-type: none;
}

.list-style-type-square {
  list-style-type: square;
}

.white-space-nowrap {
  white-space: nowrap;
}

.fixed-bottom-right {
  position: fixed;
  right: 1%;
  bottom: 2rem;
  z-index: 1024;
}

.dropdown-menu {
  z-index: 1024;
}

.d-content.dropdown-menu.show {
  display: contents;
}

.rounded {
  border-radius: $rounded !important;
}

.cursor-pointer {
  cursor: pointer;
}