//$dark: #000000;
//
//$primary: red;
//
//$secondary: #000000;
//
//$red: red;
//
//$white: #ffffff;
//
//$navbar-dark-color: $white;
//$navbar-dark-hover-color:           rgba($red, .75) !default;
//$navbar-dark-active-color: $red;


$custom-file-text: (
        fr: "Parcourir"
);

$web-font-path: "http://null";