{% extends 'layout/base_user.html.twig' %}

{% block title %}MyPets | Ajouter une consultation{% endblock %}

{% block body %}
    <h1 class="text-center">Ajouter une consultation</h1>
    
    <a class="btn btn-secondary rounded btn-sm" href="{{ path('consultation_index') }}"><i class="fas fa-arrow-left mr-1"></i>Retout à la liste</a>

    <div class="mx-auto col-10 col-sm-8 col-md-7 col-lg-5">
        {{ include('consultation/_form.html.twig') }}
    </div>
    
{% endblock %}
