.custom-file-label::after {
  content: "Parcourir";
}

label.required:not(.custom-control-label):not(.no-star-required):after, .label.required:after {
  content: "*";
  color: $danger;
}

textarea {
  border-radius: $rounded !important;
}

form:not(.no-input-br) {

  input:not([type='checkbox']):not([type='radio']), .custom-file-label, .form-control:not(textarea) {
    //border: ;
    border-radius: 50rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .custom-file-label::after {
    border-radius: 0 2rem 2rem 0;
  }

  .bootstrap-select {
    border: solid 1px #ccc;
  }

}

.btn.dropdown-toggle.custom-control {
  padding-left: 0;
  padding-right: 0;
}
