<ul class="nav nav-pills d-flex flex-sm-row flex-lg-column nowrap vh-100 w-100 bg-primary pt-5 pb-5 text-center">

    <li class="nav-item mr-0 p-2">
        <img src="{{ asset("assets/img/svg/dog_50x50.svg") }}" alt="animal">
        <a href="#">ANIMAUX</a>
    </li>

    <li class="nav-item mr-0 p-2">
        <img src="{{ asset("assets/img/svg/vet_50x50.svg") }}" alt="vet">
        <a href="#">VETERINAIRES</a>
    </li>

    <li class="nav-item mr-0 p-2">
        <img src="{{ asset("assets/img/svg/person_50x50.svg") }}" alt="person">
        <a href="#">PARTICULIERS</a>
    </li>

    <li class="nav-item mr-0 p-2">
    <img src="{{ asset("assets/img/svg/calendar_50x50.svg") }}" alt="calendar">
        <a href="#">RENDEZ-VOUS</a>
    </li>

</ul>