<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('assets/img/homepage/mypets_logo2.png') }}">
    <title>{% block title %}MyPets{% endblock %}</title>
    {{ encore_entry_link_tags('css/app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body style="min-height: 100vh;">
{% block nav %}
    {% include 'layout/_menu.html.twig' %}
{% endblock %}
{% block body %}{% endblock %}
{{ encore_entry_script_tags('js/app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
