{% extends 'layout/base_user.html.twig' %}

{% block title %}MyPets | Rendez-vous{% endblock %}

{% block body %}
    <h2 class="text-center">Rendez-vous de {{ rdv.animal.nom }}</h2>

    <a class="btn btn-secondary rounded-pill" href="{{ path('rdv_show', {id: rdv.id}) }}">Retour</a>

    <div class="d-flex flex-column flex-lg-row mt-3">
        <div class="col-12 col-lg-6">
            {% include 'animal/include/_card.html.twig' with {animal: rdv.animal} %}
        </div>
        <div class="col-12 col-lg-6 column">
            {{ include('rdv/include/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            <div class="text-center mt-2">
            {% if rdv.date > "now"|date %}
                <button type="button" class="btn btn-danger rounded-pill btn-sm">Annuler</button>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
