{% extends 'layout/base_user.html.twig' %}

{% block title %}MyPets | Rendez-vous{% endblock %}

{% block body %}
    <h2 class="text-center mb-2">Rendez-vous {{ rdv.animal.nom }}</h2>

    <a class="btn rounded-pill btn-secondary" href="{{ path('rdv_index') }}">Retour</a>


    <div class="mt-4 d-flex flex-column flex-lg-row col-12">

        <div class="col-12 col-lg-6">
            {% include 'rdv/include/_card.html.twig' with {editable: (rdv.date > "now"|date ? true : false)} %}
            <div class="mt-3">
                {% include 'consultation/include/_card.html.twig' with {'consultation' : rdv.consultation  } %}
            </div>
        </div>

        
        <div class="col-12 col-lg-6 column">
            <div class="mb-3">
            {% include 'veterinaire/include/_card.html.twig' with {veterinaire: rdv.veterinaire, clinique: rdv.clinique} %}
            </div>

            {% include 'animal/include/_card.html.twig' with {animal: rdv.animal} %}
        </div>


    </div>




{% endblock %}
