<div class="card rounded w-100 d-flex wrap">
    <div class="card-body d-flex">

        <div class="w-100">
            <h5 class="card-title">Consultation</h5>
            <p class="card-text">
                Compte rendu : {{ consultation ? consultation.compteRendu : "Aucunes consultations pour l'instant." }} <br/>
                <div class="text-center">
                    {% if not consultation %}
                        <a class="btn btn-success rounded pull-right mb-2 btn-sm" href="{{ path('consultation_new') }}">
                            <i class="fas fa-plus mr-1"></i>
                            Ajouter une consultation
                        </a>
                    {% endif %}
                </div>
            </p>
        </div>

    </div>
    {% if is_granted(ROLE_VETERINAIRE) %}
        {% if editable is not defined or editable == true %}
            <a class="btn btn-warning rounded-pill btn-sm icon-card" href="{{ path('consultation_edit', {id: consultation.id}) }}"><i class="fas fa-pen"></i> </a>
        {% endif %}
    {% endif %}

</div>