<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <img style="width: 100px; height: 100px;" src="{{ asset('assets/img/homepage/mypets_logo2.png') }}" class="" alt="MyPets logo"/>
    <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">CLINIQUES À PROXIMITÉ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ app.user ==false ? url('app_login') : '#' }}">MON COMPTE</a>
                </li>
            </ul>
        </div>
</nav>