<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img style="width: 100px; height: 100px;" src="{{ asset('assets/img/homepage/mypets_logo2.png') }}" class="" alt="MyPets logo"/>
    <div class="collapse navbar-collapse my-2 " id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"> CLINIQUES À PROXIMITÉ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> MON COMPTE</a>
            </li>
        </ul>
    </div>
</nav>