{% extends 'base.html.twig' %}

{% block bodySup %}

    <div class="d-flex vh-100">

        {% include 'clinique/include/_submenu_clinique.html.twig' %}

        <div class="mx-auto pt-2 col-9 col-lg-10 contenu">
            {% block body %}{% endblock %}
        </div>
    </div>

{% endblock %}