{% extends 'mail/base_mail.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block body %}
    <div>
        <p>
            Bonjour,<br>
            <br>
            Votre compte vient d'être créé la plateforme MyPets.<br>
            Vous pouvez dès à présent définir votre mot de passe en cliquant sur ce lien.<br>
            <br>
            Email de connexion : {{ user.email }}<br>
        </p>
        <div class="text-center mb-2">
            <a href="{{ url('user_set_password', {token: user.token}) }}" class="btn btn-warning rounded-pill">Définir mon mot de passe</a>
        </div>

    </div>
{% endblock %}

