{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="mx-auto my-auto col-10 col-sm-8 col-md-7 col-lg-5 d-flex justify-content-center align-items-center div-login">
        {{ form_start(form, {'attr': {'class': 'w-100 mt-4 no-input-br'} }) }}

        <div class="text-center">

            <h1 class="h3 mb-3 font-weight-normal text-center">Mot de passe oublié</h1>

            <p class="text-center">Vous avez oublié votre mot de passe ? Renseignez votre email de connexion et vous recevrez un lien pour le réinitialiser.</p>
        </div>
        {{ form_widget(form) }}

        <div class="d-flex justify-content-center">
            <button class="btn btn-warning rounded-pill" type="submit">Envoyer</button>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
